.card-product {
	margin-top: 10px;
	margin-bottom: 10px;
	background: white;
	transition: .2s;

	&:hover {
	    box-shadow: 1px 5px 12px -1px rgba(0, 0, 0, 0.1);
	}

	.card-img-top {
		min-height: 253px;
		padding: 1.25rem;
	}
}	