.card-product {
	margin-top: 10px;
	margin-bottom: 10px;
	background: white;
	transition: .2s;

	&:hover {
	    box-shadow: 1px 5px 12px -1px rgba(0, 0, 0, 0.1);
	}

	.card-img-top {
		min-height: 253px;
		padding: 1.25rem;
	}

	.card-text {
		font-size: 0.9rem;
	}

	.rating {
		font-size: 0.7rem;
		padding-top: 1rem;
		padding-bottom: 1rem;

		.layers-star {
			width: 1.1em;
			margin-right: 0.5rem;

			.star {
				margin-right: 0 !important;
			}
		}
		
		.star {
			display: inline-block;
			margin-right: 0.5rem;
		}

		.star-full {
			color: $gray-900;
		}
		.star-empty {
			color: $gray-300;
		}
	}

	.sale-price {
		.msrp {
			margin-left: 1rem;
			color: $gray-500;
			text-decoration: line-through;
			font-size: 0.9rem;
		}
	}
}	
